.main{
     margin-top:50px;
     
}
.Search-bar{
    display:block;
    width:450px;
    height:35px;
     margin-left:auto;
    margin-right:auto;
    border-radius:20px;
    border-width:1px;
}
.Google-logo{
    display:block;
    width:300px;
    margin-left:auto;
    margin-right:auto;
   
}
.button-wrapper{
    display:flex;
    justify-content:center;
}
.Btn{
    font-weight:bold;
    padding-right:10px;
    padding-left:10px;
    margin-right:5px;
    margin-left:5px;
    border-radius:5px;
    border-width:1px;
    padding-top:3px;
    padding-bottom:3px;
}