body{
    text-align:center;
    font-family: sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color:rgb(197, 129, 39);
}
.container{
    text-align:center;
    padding: 20px;
    color: rgb(32, 30, 30);
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
    display:flex;
    flex-direction:column;
    align-items: center;
}
.btn{
    display:flex;
    flex-direction:column;
    margin-bottom:20px;
    gap: 10px;
    width:100px;
    text-align:center;
    background-color: #bc7e19;
    align-items:center;
}
#count{
    font-size:60px;
    margin-bottom:0;
    margin-top:0; 
}
#increment:hover,#decrement:hover,#reset:hover{
    cursor:pointer;
    background-color:antiquewhite;
    box-shadow:0px 0px 10px  black;
}
#increment,#decrement,#reset{
  border:1px solid black;
  border-radius:10px;
  width:300px;
  height:50px;
}
