.btn{
    color:blue;
    border-radius:15px;
    border-color:black;
    border-width:1px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:20px;
    padding-right:20px;
    font-weight:bold;
    font-size:15px;
}