BODY{
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap:10px;
    font-family:Arial, Helvetica, sans-serif
}
#btn-el{
    background-color:rgb(75, 83, 175);
    color:white;
    border:none;
    border-radius:5px;
    padding:10px;
    font-weight:bold;
}
#type-el{
    width:100%;
    padding:10px;
    border:1px solid black;
    border-radius:5px;
    box-sizing:border-box;
}