body{
    background-image:url("background.gif");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin:0;
    font-family: "BBH Bartle", sans-serif;
}
.title{
    font-size:70px;
    text-align: center;
    color: white;
    font-weight: bold; 
    margin: 0;
}
.subtitle{
    font-size:20px;
    text-align: center;
    color: white;
    font-weight: bold; 
    margin-top:4px;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bar{
    border-width:1px;
    border-radius:20px;
    height:30px;
    width:200px;
    padding-left:10px;
    padding-right:10px;
    margin-left:auto;
    margin-right:auto;
}   