body{
    align-items:center; 
    display:flex;  
    justify-content: center;
    min-height: 100vh;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    text-shadow:1px 1px 1px black;
    color:red;
    border-bottom: 2px solid black;
    display: inline-block;
    letter-spacing:-1px;
}
p{
    font-size: 18px;
    line-height:-1px;
    text-align: center;
    max-width: 600px;
    margin: 10px auto;
}
.content{
    text-align:center;  
    max-width: 600px;
    background-color:bisque;
    border-radius:20px;
    border: 1px solid black;
}